
.nav-link:hover {
  text-decoration: underline;
}
.post {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#btn-back-to-top {
  position: fixed;
  bottom: 20%;
  right: 20px;
  display: none;
}